body {

  background-image: url("pizza.webp");
  
}

.C {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: rgb(138, 126, 0);
    text-shadow: 2px 2px black;
    font-family: "Lucida Console", "Courier New", monospace;

  }
  
  .B {
    float:left;
  }
  
  .B a {
    display: block;
    color: rgb(255, 242, 242);
    text-align: center;
    padding: 20px 184px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(108, 95, 48);
    
  }

.Hus {

height: 40px;
width: 40px;
padding-left: 125px;
float: left;
margin-top: 5px;
}

.pizza {

    height: 40px;
    width: 40px;
    padding-left: 125px;
    float: left;
    margin-top: 8px;
    }

.fraga {

    height: 40px;
    width: 40px;
    padding-left: 125px;
    float: left;
    margin-top: 4px;
}


.rubrik  {

font-size: 85px;
text-shadow: 6px 6px rgb(134, 134, 134);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
float: left;
text-decoration: underline;

}

.Vanheden {
  height: 400px;
  width: 350px;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 100px;
  
}
.cert {
height: 200px;
width: 200px;
float: left;
margin-top: 25px;
margin-left: 60px;

}

.text {

  font-size: 30px;
  text-shadow: 1.5px 1.5px rgb(134, 134, 134);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: right;
  border-style: solid;
  border-width: 5px;
  max-width: 1000px;
  margin-right: 25px;
  background-color: rgb(218, 201, 6);
  
}

.face {

  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-bottom: 10px;


}

.insta {

height: 100px;
width: 100px;
margin-left: 5px;
margin-bottom: 10px;


}

.tik {

  height: 100px;
  width: 100px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.social {

  font-size: 40px;
  text-shadow: 1.5px 1.5px rgb(134, 134, 134);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.logga {

  border-style: solid;
  border-width: 10px;
  max-height: 230px;
  max-width: 750px;
  background-color: rgb(218, 201, 6);
  
}

.meny {
  font-size: 85px;
  text-shadow: 6px 6px rgb(134, 134, 134);
  font-family:Verdana , Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;

}

.Blad {
display:block;
margin-left: auto;
margin-right: auto;
height: 80%;
width: 50%;
border: 15px solid rgb(0, 0, 0);

}


.Film  {

  border-radius: 50%;
  height:33%;
  width: 18%;
  border: 10px solid rgb(0, 0, 0);
  padding: 5px;
  position: absolute;
  left: 0px;
  top: 20%;
  filter: grayscale(100%);
  
}

.Blad2 {

  border-radius: 50%;
  height:33%;
  width: 18%;
  border: 10px solid rgb(0, 0, 0);
  padding: 5px;
  position: absolute;
  right: 0px;
  top: 20%;
  filter: grayscale(100%);
  
}

.Blad3  {

  border-radius: 50%;
  height:33%;
  width: 18%;
  border: 10px solid rgb(0, 0, 0);
  padding: 5px;
  position: absolute;
  right: 0px;
  top: 70%;
  filter: grayscale(100%);

}

.Blad4 {

  border-radius: 50%;
  height:33%;
  width: 18%;
  border: 10px solid rgb(0, 0, 0);
  padding: 5px;
  position: absolute;
  left: 0px;
  top: 70%;
  filter: grayscale(100%);
}

.kvart {

  font-size: 75px;
  text-shadow: 6px 6px rgb(134, 134, 134);
  font-family:Verdana , Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;

}



.ski  {

  height:40%;
  width: 25%;
  border: 10px solid rgb(0, 0, 0);
  padding: 1px;
  position: absolute;
  right: 1%;
  top: 50%;
  filter: grayscale(100%);

}

.skit {

  padding: 10px;
  position: absolute;
  right: 1%;
  top: 92%;
  font-size: 20px;
  font-family:Verdana , Tahoma, sans-serif;
  text-align: center;
  text-decoration: underline;
  color: white;


}

.Loggi {
right:29%;
width: 70%;
height:70%;
position:absolute




}

